<div ng-controller='QuestionsController'>
  <div class='top_content'>
    <p><a href='#/'>Home</a> | <a href='#/question/{{question._id}}'>Go Back to Question</a></p>
  </div>
  <div class='top_logout' ng-controller='UsersController'>
    <p align='right'><a href='' ng-click='logout()'>Logout</a></p>
  </div>
  <div>
    <div class='display_question'>
      <h1>{{question.question}}</h1>
      <p>{{question.description}}</p>
    </div>
    <div class='add_answer'>
      <form>
        <table>
          <tr ng-if='answer_error'><td></td><td><span class='error'>{{answer_error.message}}<span></td></tr>
          <tr><td>Your Answer:</td><td><textarea ng-model='new_answer.answer' rows='5' cols='50'></textarea></td></tr>
          <tr><td>Supprting details<br>for your answer:<br>(optional)</td><td><textarea ng-model='new_answer.support' rows='5' cols='50'></textarea></td></tr>
          <tr><td colspan='2' align=right><a href='#/question/{{question._id}}'><input type='button' value='Cancel'></a>&nbsp;<input type='submit' ng-click='addAnswer()'></td></tr>
        </table>
      </form>
    </div>
  </div>
</div>
