<div ng-controller='CustomersController'>
  <div class='top'>
    <p><u><b>Add a new customer</b></u></p>
    <form>
      <p>Customer Name: <input type='text' id='name' name='name' ng-model='newCustomer.name'>
      <input type='submit' ng-click='addCustomer()' value='Add'></p>
    </form>
    <p class='error' ng-bind='error.message'></p>
  </div>
  <div class='search'>
    <input type='text' ng-model='filter_name' placeholder='search name...'>
  </div>
  <div class='list'>
    <table>
      <tr>
        <th width=150>Customer Name</th><th width=200>Created Date</th><th width=150>Actions</th>
      </tr>
      <tr ng-repeat='customer in customers | filter:filter_name | orderBy:"created":true'>
        <td ng-bind='customer.name'></td><td ng-bind='customer.created'></td><td align=center><a ng-click='removeCustomer(customer)'><button>Remove Customer</button></a></td>
      </tr>
    </table>
  </div>
</div>
