<div ng-controller='OrdersController'>
  <div class='top'>
    <p><u><b>Add a new order</b></u></p>
    <form>
      <p>Customer: <select ng-model='customer' ng-options='customer.name for customer in customers'></select></p>
      <p>Order: <select ng-model='quantity' ng-options='n for n in [] | range:1:20'></select>&nbsp;<select ng-model='product' ng-options='product.name for product in products'></select>
      <input type='submit' ng-click='addOrder()' value='Place an order'></p>
    </form>
  </div>
  <div class='search'>
    <input type='text' ng-model='filter_name' placeholder='search name...'>
  </div>
  <div class='list'>
    <table>
      <tr>
        <th width=130>Customer Name</th><th width=100>Product</th><th width=70>Quantity</th><th width=200>Ordered Date</th>
      </tr>
      <tr ng-repeat='order in orders | filter:filter_name | orderBy:"ordered":true'>
        <td ng-bind='order.customer'></td><td ng-bind='order.product'></td><td ng-bind='order.quantity'></td><td ng-bind='order.ordered'></td>
      </tr>
    </table>
  </div>
</div>
