<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Layouts</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="wrapper">
      <div class="row">
        <div id='title' class="column twelve-s twelve-m twelve-l">
          <h1>Header</h1>
          <h2>Subtitle</h2>
        </div>
        <!-- <div id='menu' class='' -->
        <div class="column twelve-s four-m three-l">
          <div id="content" class="content">
            <h4>Coffee Ipsum</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga sit quam saepe dolores aperiam ea cupiditate ducimus cum libero, assumenda hic tempora nobis rerum, quisquam totam consectetur quos accusamus obcaecati.</p>
          </div>
        </div>
        <div class="column twelve-s four-m three-l">
          <div id="content" class="content">
            <h4>Lorem Ipsum</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro placeat, voluptatem fugiat saepe cumque iste enim delectus et eum omnis doloribus veritatis nobis, illum adipisci dignissimos non vitae sequi consectetur!</p>
          </div>
        </div>
        <div class="column twelve-s four-m three-l">
          <div id="content" class="content">
            <h4>Baby Ipsum</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro placeat, voluptatem fugiat saepe cumque iste enim delectus et eum omnis doloribus veritatis nobis, illum adipisci dignissimos non vitae sequi consectetur!</p>
          </div>
        </div>
        <div class="column twelve-s twelve-m three-l">
          <div id="content" class="content">
            <h4>Zombie Ipsum</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro placeat, voluptatem fugiat saepe cumque iste enim delectus et eum omnis doloribus veritatis nobis, illum adipisci dignissimos non vitae sequi consectetur!</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
